In [1]:
# import extensions

import pandas as pd
import numpy as np
import pathlib
import os

In [2]:
# dataframe filepath

folder = r'C:\Users\TRHislop\Documents\GitHub\Temperature_Data_Probe'

In [3]:
# establish .csv variable

df_list = []
for file in os.listdir(folder):
    if file.endswith('.csv'):
        df = pd.read_csv(os.path.join(folder,file), index_col=None, header=0)
        df_list.append(df)

In [4]:
# establish concatenated .csv and positional arguments

df_all = pd.concat(df_list, axis=0, ignore_index=True)

In [5]:
# establish data frame variable for Moose Pass Station (# 128)

df_128_all = df_all.loc[df_all['SITE_NUMBER']==128]

In [6]:
# clarify df parameters with neccessary columns and 18' level datapoint

df_128_all_18 = df_128_all[['SITE_NUMBER', 'OBSERVATION_TIME', 'TMR_SUB_18']]

In [7]:
#

df_128_all_18.OBSERVATION_TIME = pd.to_datetime(df_128_all_18['OBSERVATION_TIME'])

C:\Users\TRHislop\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [8]:
#

df_128_all_18['year'] = df_128_all_18.OBSERVATION_TIME.dt.year
df_128_all_18['month'] = df_128_all_18.OBSERVATION_TIME.dt.month

<ipython-input-8-f6cb5bdb02e3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_128_all_18['year'] = df_128_all_18.OBSERVATION_TIME.dt.year
<ipython-input-8-f6cb5bdb02e3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_128_all_18['month'] = df_128_all_18.OBSERVATION_TIME.dt.month

In [10]:
##OPTIONAL - remove max rows and columns for analysis 

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [11]:
# establish Mean values in new variable

df_128_all_18_group = df_128_all_18.groupby(['SITE_NUMBER', 'year', 'month']).mean().reset_index()

In [12]:
# display full group

df_128_all_18_group

    SITE_NUMBER  year  month  TMR_SUB_18
0           128  2017      1   17.045228
1           128  2017      2   21.663304
2           128  2017      3   18.020887
3           128  2017      4   34.862319
4           128  2017      5   45.041801
5           128  2017      6   54.781222
6           128  2017      7   60.284745
7           128  2017      8   59.605650
8           128  2017      9   50.956111
9           128  2017     10   41.099933
10          128  2017     11   29.012809
11          128  2017     12   28.333132

In [ ]:
# Next steps

# troubleshoot date/time arguments before

# reduce decimal value

# export function

# evaluate new file for coherency 

#