In [11]:
# import extensions

import pandas as pd
import numpy as np
import pathlib
import os

In [ ]:
#TODO
"""

folder = r'C:\Users\TRHislop\Documents\GitHub\Temperature_Data_Probe' -

If files are in Github repo (and should be ignored in .gitignore file), this can be reduced to just <folder = r'..\Temperature_Data_Probe'>

"""

In [12]:
# dataframe filepath

folder = r'C:\Users\TRHislop\Documents\GitHub\Temperature_Data_Probe'

In [28]:
# alternate dataframe filepath

# folder = r'..\Temperature_Data_Probe'

In [13]:
# establish .csv variable

df_list = []
for file in os.listdir(folder):
    if file.endswith('.csv'):
        df = pd.read_csv(os.path.join(folder,file), index_col=None, header=0)
        df_list.append(df)

In [14]:
# establish concatenated .csv and positional arguments

df_all = pd.concat(df_list, axis=0, ignore_index=True)

In [15]:
# establish data frame variable for Moose Pass Station (# 128)

df_128_all = df_all.loc[df_all['SITE_NUMBER']==128]

In [16]:
# clarify df parameters with neccessary columns and 18' level datapoint

df_128_all_18 = df_128_all[['SITE_NUMBER', 'OBSERVATION_TIME', 'TMR_SUB_18']]

In [17]:
#

df_128_all_18.OBSERVATION_TIME = pd.to_datetime(df_128_all_18['OBSERVATION_TIME'])

C:\Users\TRHislop\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [18]:
#

df_128_all_18['year'] = df_128_all_18.OBSERVATION_TIME.dt.year
df_128_all_18['month'] = df_128_all_18.OBSERVATION_TIME.dt.month

<ipython-input-18-f6cb5bdb02e3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_128_all_18['year'] = df_128_all_18.OBSERVATION_TIME.dt.year
<ipython-input-18-f6cb5bdb02e3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_128_all_18['month'] = df_128_all_18.OBSERVATION_TIME.dt.month

In [35]:
##OPTIONAL - remove max rows and columns for analysis 

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [19]:
# establish Mean values in new variable

df_128_all_18_group = df_128_all_18.groupby(['SITE_NUMBER', 'year', 'month']).mean().reset_index()

In [28]:
# display full group

df_128_all_18_group

     SITE_NUMBER  year  month  TMR_SUB_18
0            128  2003      1   30.859091
1            128  2003      2   31.474420
2            128  2003      3   28.155941
3            128  2003      4   37.174778
4            128  2003      5   54.594704
..           ...   ...    ...         ...
150          128  2017      8   59.605650
151          128  2017      9   50.956111
152          128  2017     10   41.099933
153          128  2017     11   29.012809
154          128  2017     12   28.333132

[155 rows x 4 columns]

In [21]:
# designate 128_all_18 as df with rounding using dict command

df = df_128_all_18_group.round({'TMR_SUB_18': 2})

# alternate method for rounding

# df_128_all_18_group.TMR_SUB_18.round(2)

In [24]:
df

     SITE_NUMBER  year  month  TMR_SUB_18
0            128  2003      1       30.86
1            128  2003      2       31.47
2            128  2003      3       28.16
3            128  2003      4       37.17
4            128  2003      5       54.59
..           ...   ...    ...         ...
150          128  2017      8       59.61
151          128  2017      9       50.96
152          128  2017     10       41.10
153          128  2017     11       29.01
154          128  2017     12       28.33

[155 rows x 4 columns]

In [27]:
# export to csv with null index

df.to_csv('Moose_Pass_Sub_18_all.csv', index=False)

In [29]:
# Next Steps

## evaluate rounded values for coherency with Matt's sheet
## examine notable null values 
## assess if further analysis is needed to clean up new .csv for coherency with Matt's sheet